
:root {
  --body-bg: #000;
  --main-color: #7F0037;
  --text-color: #DDD;
  --chat-bg: #111;
  --chat-border: #000;
  --chat-shadow: #C8C8C880;
  --msg-color: #FFF;
  --msg-input-bg: #222;
  --name-input-bg: #222;
  --input-border: #7F0037;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: var(--body-bg);
}

h2 {
  font-size: 2em;
  color: #7F0037;
  text-align: center;
}

#chat-window {
  margin: 30px auto;
  border: 1px solid var(--chat-border);
  box-shadow: 0 0 5px 2px var(--chat-shadow);
  border-radius: 2px;
  height: 400px;
  background: var(--chat-bg);
  overflow: auto;
  overflow-x: hidden;
}

.message-box {
  padding: 14px 0px;
  margin: 0 20px;
  border-bottom: 1px solid var(--main-color);
  color: var(--msg-color);
  overflow-wrap: break-word;
}

.message-box span {
  color: var(--main-color);
  font-weight: bold;
}

#message-input {
  padding: 10px;
  width: 100%;
  background: var(--msg-input-bg);
  color: var(--text-color);
  border: 1px solid var(--input-border);
  outline: none;
  font-size: 16px;
}

#name-input {
  padding: 10px;
  width: 10%;
  background: var(--name-input-bg);
  color: var(--main-color);
  border: 1px solid var(--input-border);
  border-right: none;
  border-radius: .25rem 0 0 .25rem;
  outline: none;
  font-size: 16px;
  font-weight: bold;
}

.message-controls {
  display: flex;
}

#send-button {
  background: var(--main-color);
  color: #FFF;
  padding: 10px 20px;
  font-size: 16px;
  border: 0;
  border-radius: 0 .25rem .25rem 0;
  outline: none;
  cursor: pointer;
}

#feedback {
  padding: 14px 0px;
  margin: 0 20px;
  color: var(--msg-color);
  overflow-wrap: break-word;
}

#feedback span {
  color: var(--main-color);
  font-weight: bold;
}

@media (min-width: 771px) {
  /* Desktop */
  .container {
    max-width: 50%;
    margin: 0 auto;
  }
}

@media (max-width: 770px) {
  /* Mobile */
}