
h2 {
  font-size: 18px;
  padding: 10px 20px;
  color: #7F0037;
}

#container {
  max-width: 100vw;
  margin: 0 auto;
}

#chat-window {
  margin: 30px auto;
  border: 1px solid #DDD;
  box-shadow: 1px 3px 5px rgba(0,0,0,0.05);
  border-radius: 2px;
  height: 400px;
  overflow: auto;
  background: #F9F9F9;
}

#output p {
  padding: 14px 0px;
  margin: 0 20px;
  border-bottom: 1px solid #E9E9E9;
  color: #555;
}

#feedback p {
  color: #AAA;
  padding: 14px 0px;
  margin: 0 20px;
}

#output strong {
  color: #7F0037;
}

label {
  box-sizing: border-box;
  display: block;
  padding: 10px 20px;
}

#message-input {
  padding: 10px 20px;
  box-sizing: border-box;
  background: #EEE;
  border: 0;
  display: block;
  width: 100%;
  background: #FFF;
  border: 1px solid black;
  border-radius: 5vh;
  outline: none;
  font-size: 16px;
  
}

#send-button {
  background: #7F0037;
  color: #FFF;
  font-size: 18px;
  border: 0;
  padding: 12px 0;
  width: 100%;
  margin: 2% auto auto auto;
  border-radius: 5vh;
  outline: none;
}